  /* - - - - - - - - - - - (900px Media Query) - - - - - - - - - - - */

  @media (min-width: 900px) {
    .hero {
      height: 45vw;
    }
    
    .hero-intro {
      margin-bottom: 1%;
      padding-top: 7%;
      letter-spacing: .36em;
    }

    .hero-title {
      margin-bottom: 0;
      letter-spacing: .5em;
      margin-left: .4em;
      font-size: 7vw;
    }

    .card {
        margin: .7em;
        padding: 1.5em;
        /* height: 45vw; */
    }
}