.site-nav ul li a{
    color: black;
}

.post-grid {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.post {
    grid-area: post;
    margin-top: 5em;
    padding: 1em;
}

.sidebar {
    grid-area: sidebar;
    width: 100%;
    border-top: 1px solid grey;
    margin: 1em 0 0 1em;
    padding-top: 1em;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
}

.body {
    padding: 1em 0 0 0;
}



/* - - - - - - - - - - - (900px Media Query) - - - - - - - - - - - */

@media (min-width: 900px) {
    .post-grid {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-areas:
            "hd hd"
            "sidebar post"
            "sidebar post"
            "ft ft";
    }

    .post {
        margin-top: 3.5em;
        padding: 1em;
    }

    .sidebar {
        height: 100%;
        border-right: 1px solid grey;
        border-top: none;
        margin: 15em 0 0 0;
        padding: 0 0 0 3em;
    }
}
/* - - - - - - - - - - - (1200px Media Query) - - - - - - - - - - - */
  
@media (min-width: 1200px) {
    .post-grid {
        grid-template-columns: 20% 80%;
    }
    
    .sidebar {
        border-right: 1px solid grey;
        margin: 15em 0 0 0;
        padding: 0 0 0 3em;
    }
}