@import "styles-header.css";
@import "styles-footer.css";
@import "styles-homepage-grid.css";

html,
html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 3vw;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}

.hero {
    grid-area: hero;
    height: 50vw;
    color: #fff;
    background-image: linear-gradient(to right, #085896 , #FF6464);
    background-size: cover;
}

.hero-content {
    font-family: Roboto, arial, sans-serif;
    display: relative;
    z-index: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50vh;
}

.hero-intro {
    font-size: 1.3em;
    font-weight: 100;
    line-height: 1.55em;
    margin-bottom: 1em;
    padding-top: 4.5em;
    letter-spacing: .3em;
    text-transform: uppercase;
}

.hero-subtitle {
    font-size: .5em;
    font-weight: 100;
    line-height: 1.6em;
    letter-spacing: .3em;
    text-transform: uppercase;
}

.hero-title {
    font-size: 4em;
    margin-bottom: 1.5%;
    text-transform: uppercase;
    letter-spacing: .1em;
}

#content {
    grid-area: content;
}

.cardArea {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 2em 0 2em;
    /* border: 2px solid blue; */
        }

.card {
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    justify-content: left;
    flex: 1 0 100%;
    margin: .5em;
    padding: 2em;
    /* height: 70vw; */
    /* border: 2px solid yellow; */
}

.card.left {
    grid-area: l;
}

.card.center {
    grid-area: c;
}

.card.right {
    grid-area: r;
}

.card-headline {
    font-size: 1.5em;
    line-height: 2em;

}

.card-open {
    text-decoration: none;
    color: #000;
    /* font-weight: 600; */
}
.card-caption {
    font-size: .8em;
    font-style: italic;
    color: grey;
}

/* - - - - - - - - - - - (600px Media Query) - - - - - - - - - - - */

@media (min-width: 600px) {
    body {
      font-size: 100%;
    }

    .site-logo {
      float: left;
      width: 4.5em;
      top: 0;
    }

    .site-logo img {
      width: 4.5em;
    }

    .site-nav {
      position: relative;
      display: block !important;
      float: right;
      width: 80%;
      padding: .75em 1em 0 0;
      background: none;
      top: 0;
    }
  
    .site-nav ul {
      margin: 0;
      text-align: right;
    }

    .site-nav ul li {
      display: inline-block;
      margin-bottom: 0;
      margin-left: 1.5em;
    }

    .hero {
        height: 45vw;
    }

    .hero-intro {
        font-size: 1.5em;
        line-height: 2;
        margin-bottom: 2.25%;
        padding-top: 13%;
        letter-spacing: .39em;
    }

    .hero-subtitle {
        font-size: .8em;
        line-height: 2;
        letter-spacing: .35em;
    }

    .hero-title {
        font-size: 5em;
        margin-bottom: 7%;
        letter-spacing: .3em;
        /* margin-left: .25em; */
    }

    .cardArea {
        margin: 0 0 0 0;
    }

    .card {
        flex: 1 0 50%;
        margin: .3em;
        padding: 1.5em;
        /* height: 50vw; */
    }

    .card-headline {
        font-size: 1.2em;
    }

    .footer {
        font-size: 1em;
    }
}

  /* - - - - - - - - - - - (900px Media Query) - - - - - - - - - - - */

  @media (min-width: 900px) {
    .hero {
      height: 45vw;
    }

    .hero-intro {
      margin-bottom: 1%;
      padding-top: 7%;
      letter-spacing: .36em;
    }

    .hero-title {
      margin-bottom: 0;
      letter-spacing: .5em;
      margin-left: .4em;
      font-size: 7vw;
    }

    .card {
        margin: .7em;
        padding: 1.5em;
        /* height: 45vw; */
    }

}

  /* - - - - - - - - - - - (1200px Media Query) - - - - - - - - - - - */
  
  @media (min-width: 1200px) {
    .hero {
      overflow: hidden;
      height: 45vw;
    }

    .hero-intro {
      padding-top: 13%;
    }

    .hero-title {
      letter-spacing: .85em;
      margin-left: .7em;
      font-size: 8.5vw;
    }

    .card {
        flex: 1 0 27%;
        margin: .9em;
        padding: 1.8em;
        /* height: 40vw; */
    }

}
