.site-nav ul li a{
    color: black;
}

.post-grid {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.post {
    grid-area: post;
    margin-top: 5em;
    padding: 1em;
}

.sidebar {
    grid-area: sidebar;
    width: 100%;
    border-top: 1px solid grey;
    margin: 1em 0 0 1em;
    padding-top: 1em;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
}

.author-info {
    display: flex;
    flex-flow: column wrap;
    padding-top: 1em;
}

.avatar {
    width: 4.5em;
}

.avatar-img {
    width: 4.5em;
}

.title {
    color: grey;
}

.body {
    padding: 1em 0 0 0;
}
.social {
    grid-area: social;
    padding: 1em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.social img {
    width: 3.5em;
    margin: .2em;
}

/* - - - - - - - - - - - (900px Media Query) - - - - - - - - - - - */

@media (min-width: 900px) {
    .post-grid {
        display: grid;
        grid-template-columns: 20% 75%;
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-areas:
            /* "hd hd" */
            "sidebar post"
            "sidebar post"
            "sidebar social";
            /* "ft ft"; */
    }

    .author-info {
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: auto;
        grid-column-gap: 1em;
        grid-template-areas: 
        "avatar info";
        padding-top: 1em;
    }
    
    .avatar {
        width: 3em;
        grid-area: avatar;
    }
    
    .avatar-img {
        width: 3em;
    }

    .author-details {
        grid-area: info;
    }
    
    .title {
        color: grey;
    }

    .post {
        margin-top: 3.5em;
        padding: 1em;
    }

    .sidebar {
        height: 100%;
        border-right: 1px solid grey;
        border-top: none;
        margin: 15em 0 0 0;
        padding: 0 0 0 3em;
    }

    .social {
        flex-flow: row wrap;
    }

    .social img {
        width: 3em;
        margin: .2em;
    }
}
/* - - - - - - - - - - - (1200px Media Query) - - - - - - - - - - - */
  
@media (min-width: 1200px) {
    .post-grid {
        grid-template-columns: 20% 80%;
    }
    
    .sidebar {
        border-right: 1px solid grey;
        margin: 15em 0 0 0;
        padding: 0 0 0 3em;
    }
}