.footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5em;
    padding: 3em;
    background-color: grey;
    color: white;
    font-size: .7em;
    text-transform: uppercase;
}

.footer-icon {
    width: 2.5em;
}

.footer-img {
    width: 2.5em;
}